#!/usr/bin/make -f 
export DH_VERBOSE=1

## Here goes the debian make.

%:
	dh "$@" --with python2

override_dh_auto_build:
	mkdir -p _build
	cd _build && cmake ..
	cd _build && make -j4

override_dh_auto_install:
	python moogli/cmake_modules/setup.py install --root=debian/tmp --install-layout=deb

override_dh_shlibdeps:
	dh_shlibdeps --dpkg-shlibdeps-params=--ignore-missing-info

override_dh_auto_clean:
	rm -rf _build
	rm -f moogli/core/_moogli.so

override_dh_python2:
	dh_python2 $@ --no-guessing-versions
